#
# https://help.github.com/articles/dealing-with-line-endings/
#
# Just use LF bro
*               text=auto eol=lf

# Except for Windows script files, which should use crlf
*.bat           text eol=crlf

